.html {
    overflow: hidden;
}

.seller_dashboard_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* padding: 1rem; */
    height: 100%;
    margin-left: 0;
    /* overflow: scroll; */
}
.stats-main-page {
    width: 100%;
    background-color: white;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
}
.dashboard-sidebar {
    width: 5rem;
    margin: 0.5rem 0 1rem;
    min-width: 13rem;
    /* padding: 0.2rem; */
    background-color: rgb(22, 22, 22);
    color: white;
    overflow-y: scroll;
    max-height: 39rem;

}
.dashboard-sidebar div {
    margin: 0.3rem;
    padding: 0.2rem 0 ;
}
.dashboard-sidebar button {
    background-color: grey;
    color:black;
    margin: 0.1rem 0.4rem;
    
}
.sidebar-content-div {
    margin: 0.5rem 0.1rem;
}
.hidden-content {
    /* display: none; */
    border-top: 1px white;
}
/* .sidebar-content-div span:hover{
    background-color: rgb(178, 177, 177);
/* } */
 .sidebar-content-div:hover {
    /* background-color: aliceblue; */
    backface-visibility: visible;
    cursor: pointer;
} 
.overall-basic-stats {
    width: 100%;
    margin: 1rem 1rem;
}